<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prfc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity.LoginActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".BudgetActivity.PersonalBudgetActivity" />
        <activity android:name=".BudgetActivity.GoDutchActivity" />
        <activity
            android:name=".BudgetActivity.SetBudgetActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AccountActivity.SetNameActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".CommunityActivity.CommunityActivity" />
        <activity android:name=".GroupActivity.GroupMenuActivity" />
        <activity android:name=".GroupActivity.GroupActivity" />
        <activity
            android:name=".GroupActivity.MakeGroupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BudgetActivity.ApplySpentActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".BudgetActivity.SpentListActivity" />
        <activity android:name=".BudgetActivity.EditSpentListActivity" />
        <activity
            android:name=".GroupActivity.GroupItemPopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".ChattingActivity.MessengerActivity" />
        <!--
        <activity android:name=".Classes.list_item" />
        <activity android:name=".Classes.MyListAdpater" />-->
        <activity android:name=".CommunityActivity.BoardDetailActivity" />
        <activity android:name=".CommunityActivity.BoardPostActivity" />
        <activity android:name=".BudgetActivity.GroupBudgetActivity" />
    </application>

</manifest>